@font-face {
    font-family: 'Birmingham';
    font-style: normal;
    font-weight: normal;
    src: url('/Birmingham.ttf');
  }

h1 {
        font-family: 'Birmingham';
        color: #C70000;
        text-align: center;
        font-weight: 400;
}

h2 {
		  font-family: 'Birmingham';
      font-weight: 600;
		  text-align: center;
      font-size: 1.5rem;
}
// h2 {
// 		  color: white;
// 			font-weight: bold;
// 		  background: #C70000;
// 		  padding: 11px;
//       padding-top: 16px;
// 		  padding-bottom: 16px;
// 			// line-height: 1.5;
// 	}

h3 {
font-family: "Times New Roman", Times, serif;
font-weight: 500;
font-size: 1.6rem;

}

blockquote {
  font-weight: 300;
  font-style: italic;
}

@font-face {
    font-family: 'Birmingham';
    font-style: normal;
    font-weight: normal;
    src: url('/Birmingham.ttf');
  }
.hwfr {
  font-family: 'Birmingham';
  color: #C70000;
  text-align: center;
}
.hwfb {
  font-family: 'Birmingham';
  text-align: center;
  padding: 0;
}
.reg {
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
  color: #C70000;
}

.flxb {
   display: flex;
  justify-content: space-between;
}

.white {
  color: #fff;
  text-decoration: underline;
  font-wight: bold;
  font-size: 1.2rem;
}

blockquote {
  color: #111;
}

.badge.error {
  background-color: #C70000 !important; 
}