@font-face {
    font-family: 'Birmingham';
    font-style: normal;
    font-weight: normal;
    src: url('/Birmingham.ttf');
  }

h1 {
        font-family: 'Birmingham';
        color: #C70000;
        text-align: center;
        font-weight: 400;
}

h2 {
		  font-family: 'Birmingham';
      font-weight: 600;
		  text-align: center;
      font-size: 1.5rem;
}
// h2 {
// 		  color: white;
// 			font-weight: bold;
// 		  background: #C70000;
// 		  padding: 11px;
//       padding-top: 16px;
// 		  padding-bottom: 16px;
// 			// line-height: 1.5;
// 	}

h3 {
font-family: "Times New Roman", Times, serif;
font-weight: 500;
font-size: 1.6rem;

}

blockquote {
  font-weight: 300;
  font-style: italic;
}
